#Layer_1 {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    Height: 100%;
    z-index: -10;
    margin: 0;
}

#display {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: absolute;
}



#logo {
    z-index: 1;
    margin: 0px;
    position: fixed;
    top: 15%;
    left: 15%;
    top: 2%;
    left: 2%;
}

#title {
    position: fixed;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 20px;
    z-index: 1;
    font-kerning: 10pt;
    left: 31.5%;
    top: 20px;
}

#video {
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 90px;
}

#enter {
    z-index: 1;
    position: fixed;
    width: 7%;
    height: 5%;
    bottom: 15%;
    left: 45%;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: none;
}

body {
    background-color: black;
}