#Layer_1 {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    z-index: -10;
    margin: 0;
}

#display {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: absolute;
}


#LogoId {
    position: fixed;
    z-index: 19;
    top: 10px;
    left: -30px;
    width: 15%;
    height: 15%;
}

#menu {
    position: fixed;
    width: 10%;
    height: 33%;
    z-index: 11;
    top: 200px;
    background-color: rgba(200,200,200,0.5);
}

.nav {
    position: fixed;
    font-family: 'Roboto Slab', serif;
    color: black;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}

#controls {
    position: fixed;
    top: 200px;
    left: -60px;
    font-size: 20px;
}

body {
    background-color: black;
}